:root {
  --black-color: #212121;
  --light-gray-color: #757575;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  font-size: 16px;
}
.cointainer {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.logo {
  font-size: 26px;
  line-height: 1.19;
  -color: var(--black-color);
  font-weight: 700;
}
.logo-blue {
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  font-weight: 700;
}
.przedzialy {
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  font-style: normal;
  color: var(--black-color);
}
.przedzialy:hover {
  color: #2196f3;
}
.kontakt {
  font-size: 14px;
  line-height: 1.14;
  color: var(--light-gray-color);
  text-decoration: none;
  font-style: normal;
}
.naglowek-strony {
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
}
.zamow-usluge {
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  font-family: inherit;
}

.naglowek-tekstu {
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-color);
}
.tekst {
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-gray-color);
}
.naglowek-obrazkow {
  font-size: 36px;
  line-height: 1.16;
  color: var(--black-color);
}
.imie {
  font-size: 16px;
  line-height: 1.18;
  color: var(--black-color);
}
.zawod {
  font-size: 16px;
  line-height: 1.18;
  color: var(--light-gray-color);
}
.przyciski {
  font-size: 16px;
  line-height: 1.62;
  color: var(--black-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
}

.projekt {
  font-size: 18px;
  line-height: 2;
  color: var(--black-color);
}
.czynnosc {
  font-size: 16px;
  line-height: 1.18;
  color: var(--light-gray-color);
}
.informacje {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
}
.portfolio {
  font-size: 14px;
  line-height: 1;
  color: #2196f3;
}
a:link,
a:focus {
  text-decoration: none;
  font-style: normal;
}

.adres {
  font-style: normal;
}

.main-logo {
  gap: 215px;
  flex-direction: row;
}

.main-przedzialy {
  gap: 453px;
  flex-direction: row;
}

.main-kontakt {
  gap: 1078px;
  flex-direction: row;
}

.main-naglowek {
  gap: 452px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.main-zamow-usluge {
  gap: 700px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.main-lorem-ipsum {
  gap: 215px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.main-tekst {
  gap: 215px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.obrazki {
  gap: 215px;
  flex-direction: row;
}

.zespol {
  gap: 215px;
  flex-direction: row;
}

.dol-strony {
  gap: 215px;
  flex-direction: column;
}

.button {
  gap: 532px;
  flex-direction: row;
}

.rzeczy {
  gap: 215px;
  flex-direction: row;
}
