

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 16px;
}
.Nazwa-Strony {
    font-size: 26px;
    line-height: 1;
    color: #2196F3;
}
.przedzialy {
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-style: normal;
}
.kontakt {
    font-size: 14px;
line-height: 1;
color: #757575;
text-decoration: none;
font-style: normal;
}
.naglowek-strony {
    font-size: 44px;
    line-height: 1;
}
.zamow-usluge {
    font-size: 16px;
    line-height: 1;
}

.naglowek-tekstu {
    font-size: 14px;
    line-height: 1;
}
.tekst {
    font-size: 14px;
    line-height: 1;
}
.naglowek-obrazkow {
    font-size: 36px;
line-height: 1;
}
.imie {
    font-size: 16px;
line-height: 1;
}
.zawod {
    font-size: 16px;
line-height: 1;
}
.przyciski {
    font-size: 16px;
line-height: 1;
color: #212121;
background: #F5F4FA;
border-radius: 4px;
border: 0;

}
.projekt{
    font-size: 18px;
line-height: 2;
color: #212121;
}
.czynnosc {
    font-size: 16px;
line-height: 1;
color: #757575;
}
.informacje {
    font-size: 14px;
line-height: 1;
color: #FFFFFF;
text-decoration: none;
font-style: normal;
}
.portfolio {
    font-size: 14px;
line-height: 1;
    color: #2196F3;
}
a:link,
a:focus {
    text-decoration: none;
    font-style: normal;
}

<p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Poprawny CSS!" />
    </a>
</p>
